#art-master-container {
    overflow-x: hidden; 
}

#art-container {
    display: flex;
}

#art-left-master {
    block-size: fit-content;
}

#art-right-master {
    /* display: flex;
    flex-direction: column; */
}

.art-left-container-image {
    height: 100vh;
}

.art-left-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: none;
}

.art-right-container-image {
    margin: 0 auto;
}

.art-right-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    flex: 0 0 auto;
    display: block;

    opacity: 0;
}

#art-right-container-image-0 {
    margin: 0 0 0 auto !important;
    width: 85%;
    height: 50vh;
}

#art-right-container-image-1 {
    margin: 0 0 0 30% !important;

    width: 50%;
    height: 50vh;
}


