.com-section {
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.com-master {
    height: 100%;
}

.com-container-image {
    width: 100%;
    height: 100%; 
}

.com-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.com-container-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--spacing-size-m);
    padding-left: var(--spacing-size-m);

    margin: auto 0 auto 0;

    font-size: var(--font-size-s);
    padding-top: 10vh;
}

.com-text-description {
    width: 30%;
}


/* SPLIDE */
.splide__arrows {
    z-index: 99;
    height: 100%;
    width: 100%;

    display: flex;
    position: absolute;

    /* DESIGN OF IT */
    opacity: 0;
}

.splide__arrow  {
    flex: 1 0 content;
}

.splide__arrow--next:hover {
    cursor: url(/svg/right.svg) , e-resize;
}

.splide__arrow--prev:hover {
    cursor: url(/svg/left.svg) , w-resize;
}
