* {
    margin: 0;
    padding: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;

    cursor: cell;
}

*::selection {
    background: var(--black);
}

html, body, button {
    font-size: 10px;
    font-family: var(--font), sans-serif;
    letter-spacing: 0.2px;

    text-transform: uppercase;
}



:root {
    /* COLORS */
    --black: #000000;
    --white: #ffffff;

    /* SPACEING */
    --spacing-size-s: 2.5%;
    --spacing-size-m: 5%;
    --spacing-size-l: 10%;

    /* FONTS */
    --font: 'Poppins', sans-serif;

    /* FONT SIZE*/
    --font-size-s: 0.85rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.3rem;
}

a {
    text-decoration: none;
    color: unset;
}

#info-master-container, #com-master-container {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

/* SIZING */
#art-container, #info-container, .com-section {
    width: 97vw;
}
#art-left-master, #info-image-container, .com-master {
    width: 47%;
}
#art-right-master, #info-text-container, .com-container-text {
    width: 53%;
}
/* SIZING */