@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Regular.ttf') format('truetype');
}  


* {
    margin: 0;
    padding: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;

    cursor: default;
}

*::selection, a::selection {
    opacity: 1;
    background: var(--black);
}

html, body, button {
    font-size: 10.4px;
    font-family: var(--font);
    letter-spacing: 0.4px;

    text-transform: uppercase;

    -webkit-overflow-scrolling: touch
}


:root {
    /* COLORS */
    --black: #000000;
    --white: #ffffff;

    /* SPACEING */
    --spacing-size-s: 2.5%;
    --spacing-size-m: 5%;
    --spacing-size-l: 10%;

    /* FONTS */
    --font: 'Poppins', sans-serif;

    /* FONT SIZE*/
    --font-size-xs: 0.75rem;
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.3rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

#info-master-container, #com-master-container {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

/* SIZING */
#art-container, #info-container, .com-section {
    width: 97vw;
}
#art-left-master, #info-image-container, .com-master {
    width: 47%;
}
#art-right-master, #info-text-container, .com-container-text {
    width: 53%;
}
/* SIZING */


.copyright {
    font-size: 0.75rem;
    position: absolute;
    bottom: var(--spacing-size-m)
}