#info-container {
    width: 95vw;
    height: 100vh;
    position: fixed;

    background-color: white;
    display: flex;
    z-index: 98;
}

#info-image-container {
    width: 45vw;
    height: 100vh;

    background-color: aqua;
}

.info-image-one {
    width: 100%;
    height: 20%;

    object-fit: cover;
}
.info-image-two {
    width: 100%;
    height: 20%;

    object-fit: cover;
}

#info-text-container {
    width: 50vw;
}

#info-facts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#info-container-top {
    display: flex;
}

#info-container-bot {
    display: flex;
}