.nav-master {
    height: 100vh;
    width: 3vw;
    background-color: white;

    position: fixed;
    right: 0;

    padding-top: 5vh;

    font-size: var(--font-size-xs);
}

.nav-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    margin-bottom: 10vh;
}

.nav-element {
    writing-mode: vertical-lr;
    margin: 0 auto;

    opacity: 0;
}

.nav-element::selection, #nav-diary > a::selection {
    background: none;
}

.nav-off {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.nav-on {
    opacity: 1;
    pointer-events: auto;
}

#nav-louise {
    height: 16ch;
}

#nav-art {
    height: 6ch;
}

#nav-cata {
    opacity: 0 !important;
    pointer-events: none;
}